// default parameters
params {
    workdir = "./work"
    cachedir = "./cache"
    apikey = ""
    output  = "./output"
}


profiles {
    standard {
        workDir = params.workdir
    }

    lsf {
        params.cloudProcess = true
        includeConfig 'configs/lsf.config'
        process.executor = 'lsf'
    }
}
