workDir = params.workdir

executor {
    name = "lsf"
    queueSize = 500
}

singularity { 
    enabled = true
    autoMounts = true
    cacheDir = "/hps/scratch/singularity/$USER"
}
process {
    clusterOptions = "-g /nf_DToL -q short"
    memory = "1 GB"
    cpus = 1
    errorStrategy = { task.attempt < 2 ? 'retry' : 'ignore' }
}
